/* General Styling */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #1b2735;
    color: #e0e0e0;
}

/* Sidebar Styling */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #1b1b1b;
    padding-top: 30px;
    text-align: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar-profile-container {
    margin-bottom: 20px;
}

.sidebar-profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Footer Text Styling in Sidebar */
.footer-text {
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    font-size: 10px;
}

/* Main Content Styling */
.about-page {
    margin-left: 220px; /* Adjust to match sidebar width */
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Wrapper Container Styling */
.content-wrapper {
    padding: 20px;
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
}

/* Grid Layout for Content Alignment */
.equal-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

/* Content Box Styling */
.content-box {
    background-color: #1b1b3a;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #2a2a5a;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* Profile Picture Styling */
.profile-picture-box {
    text-align: center;
    margin-bottom: 15px;
}

.main-content-profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Download CV Button Styling */
.download-cv-btn {
    background-color: #0066cc;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.download-cv-btn:hover {
    background-color: #005bb5;
}

/* Text Styling */
h2 {
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 100px;
    }

    .about-page {
        margin-left: 110px;
    }

    .equal-boxes {
        grid-template-columns: 1fr;
    }

    .content-box {
        width: 100%;
    }
}
